@import "../../../constant.scss";

.category {
  padding-left: 0;
}

#conditionDiv {
  padding: 0 100px;
}

.conditionWrapper {
  text-align: left;
}

.conditionList {
  display: inline;
  padding-inline-start: 0;
  font-size: 15px;
}

.articleOrderWrapper {
  display: inline-block;
}

.sensitiveAttributeWrapper {
  display: inline-block;
  margin: 0 0 0 90px;
}

li {
  display: inline;
  padding: 0 20px;
}

.divider {
  margin: 8px !important;
}

.active{
  color: $default-blue;
  font-weight: bold;
}