#inputArea {
  margin: 20px 200px;
  display: flex;
}

#searchButtonWrapper {
  width: 10%;
  margin: 0 auto;
}

#tableWrapper {
  margin: 20px 50px;
}

.global-search-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}