.info-list-footer {
  display: flex;
  vertical-align: center;
}
.info-list-checkbox {
  padding: 5px;
}

#input{
  margin-left: auto;
  width: 30%;
  display: inline-block;
  padding: 0 10px 0 0;
}

#rangePicker{
  display: inline-block;
  padding: 0 10px 0 10px;
}

#searchButton{
  display: inline-block;
  padding: 0 10px 0 10px;
}
#iconButton{
  display: inline-block;
  padding: 0 0 0 0;
}
#newButton{
  display: inline-block;
  padding: 0 0 0 10px;
}
#Dhead{
  padding: 10px 10px 10px 10px;
}
#table{
  padding-top: 20px;
}
.site-layout-background {
  padding: 24px;
  margin: 0;
  background: #fff;
}

.content {
  padding: 0 24px 0 24px;
}
#fangname {
  width: 20%;
  float: left;
  padding: 0 10px 0 0;
}