.sider {
  background: #fff;
}

.site-layout-background {
  padding: 24px;
  margin: 0;
  background: #fff;
}

.content {
  padding: 0 24px 0 24px;
}

.breadcrumb {
  margin: 16px 0;
  text-align: left;
}