@import "../../constant";

.home-wrapper {
  background: $background-color;
}
.home-column {
  padding: 20px;
  width: 90%;
  min-width: 1000px;
  margin-left: 5%;
}
.home-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
.home-list {
  height: fit-content;
  min-height: 400px;
  margin-bottom: 50px;
  .list-title {
    font-size: 22px;
    font-weight: bold;
  }
  & hr{
    border-color: $default-blue;
    background: $default-blue;
    height: 5px;
  }
}
.list-item {
  height: 30px;
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: baseline;
  .item-tag {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background: $default-blue;
    float: left;
    border-radius: 999px;
  }
  & .item-title {
    font-size: 16px;
    &:hover {
      color: $default-blue;
      cursor: pointer;
    }
  }
  & .item-source {
    color: $default-blue;
  }
  & .item-timestamp {
    margin-left: auto;
  }
}
.current-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000010;
}
.current-item {
  position: fixed;
  width: 90%;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  top: calc(50% - 300px);
  left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 5px $default-blue solid;
  & button {
    float: right;
    background: $default-white;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px $default-gray;
    border-radius: 2px;
    transition: border 0.5s;
    box-sizing: border-box;
    outline: none;
    &:hover, &:active {
      border: 1px solid $default-blue;
    }
  }
  .item-title {
    font-size: 22px;
    font-weight: bold;
    float: left;
  }
  .item-abstract {
    width: 100%;
    height: 100px;
    background-color: $default-whitesmoke;
    margin-bottom: 20px;
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
  .abstract-attribute{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    text-align: left;
  }
  .item-content {
    border: $default-whitesmoke solid 1px;
    float: left;
  }
}